@font-face {
  font-family: Work-sans;
  src: url("/assets/font/WorkSans-VariableFont_wght.ttf");
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: blue;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1728px;
}

header {
  background: url("../Images/Sofa_Img.png") 0 0/100% auto no-repeat;
  max-width: 1728px;
  min-height: 100vh;
}
header .nav-center {
  width: 100%;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-menu__placeholder {
  display: none;
}
header nav .menu__list {
  font-family: Work-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: white;
  row-gap: 10rem;
}
header nav .menu__list .point {
  margin: 0 0.3rem;
}
header nav .menu__list .nav-menu__point_active {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: white;
}
header nav .icon-bag {
  width: 1.5rem;
  height: 1.5rem;
}
header .company_slogan {
  font-family: Work-sans;
  color: white;
  width: 80%;
  margin: 0.5rem auto;
}
header .company_slogan .big_slogan {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
header .company_slogan .small_slogan {
  margin: 0.2rem auto;
  font-weight: 400;
  font-size: 0.6rem;
  width: 45%;
  text-align: center;
}

@media (min-width: 661px) {
  header {
    background: url("../Images/Sofa_Img.png") 0 0/100% auto no-repeat;
    max-width: 1728px;
    height: 100vh;
  }
  header .nav-center {
    padding-top: 2.5rem;
  }
  header nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .nav-menu__placeholder {
    display: block;
  }
  header nav .menu__list {
    font-family: Work-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  header nav .menu__list .point {
    margin: 0 1.5rem;
  }
  header nav .menu__list .nav-menu__point_active {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
  }
  header nav .icon-bag {
    width: 2rem;
    height: 2rem;
  }
  header .company_slogan {
    font-family: Work-sans;
    color: white;
    width: 80%;
    margin: 1.3rem auto;
  }
  header .company_slogan .big_slogan {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
  }
  header .company_slogan .small_slogan {
    margin: 0.5rem auto;
    font-weight: 400;
    font-size: 1rem;
    width: 45%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .menu__list {
    font-family: Work-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  .menu__list .point {
    margin: 0 2.5rem;
  }
  .menu__list .nav-menu__point_active {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: white;
  }
}
@media (min-width: 931px) {
  header {
    background: url("../Images/Sofa_Img.png") 0 0/100% 100% no-repeat;
    max-width: 1728px;
    min-height: 100vh;
  }
  header .nav-center {
    padding-top: 2.5rem;
  }
  header nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .nav-menu__placeholder {
    display: block;
  }
  header nav .menu__list {
    font-family: Work-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  header nav .menu__list .point {
    margin: 0 2.5rem;
  }
  header nav .menu__list .nav-menu__point_active {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: white;
  }
  header nav .icon-bag {
    width: 50px;
    height: 50px;
  }
  header .company_slogan {
    font-family: Work-sans;
    color: white;
    width: 50%;
    margin: 3.4rem auto;
  }
  header .company_slogan .big_slogan {
    font-weight: 700;
    font-size: 3.4rem;
    text-align: center;
    line-height: 4rem;
  }
  header .company_slogan .small_slogan {
    margin: 1rem auto;
    font-weight: 400;
    font-size: 1rem;
    width: 45%;
    text-align: center;
    line-height: 1.8rem;
  }
}
@media (min-width: 1364px) {
  header {
    background: url("../Images/Sofa_Img.png") 0 0/100% 100% no-repeat;
    max-width: 1800px;
    min-height: 100vh;
  }
  header nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .nav-menu__placeholder {
    display: block;
  }
  header nav .menu__list {
    font-family: Work-sans;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  header nav .menu__list .point {
    margin: 0 2.5rem;
  }
  header nav .menu__list .nav-menu__point_active {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: white;
  }
  header nav .icon-bag {
    width: 50px;
    height: 50px;
  }
  header .company_slogan {
    font-family: Work-sans;
    color: white;
    width: 50%;
    margin: 3.4rem auto;
  }
  header .company_slogan .big_slogan {
    font-weight: 700;
    font-size: 3.4rem;
    text-align: center;
    line-height: 4rem;
  }
  header .company_slogan .small_slogan {
    margin: 1rem auto;
    font-weight: 400;
    font-size: 1rem;
    width: 45%;
    text-align: center;
    line-height: 2.5rem;
  }
}
@media (min-width: 2500px) {
  header {
    background: url("../Images/Sofa_Img.png") 0 0/cover no-repeat;
    max-width: 80vw;
    min-height: 0;
  }
}