
$nav-size: 1500px;
$nav-max-size: 80%;
$font-name: Work-sans;
$nav-font-color: white;
$font-size-mobile: 16px;
$font-size-medium: 20px;
$font-size-desktop: 24px;

//! ***************** VARIABLES **************************************


@font-face {
    font-family: Work-sans;
    src: url('/assets/font/WorkSans-VariableFont_wght.ttf');
}

// ********************* FONT ****************************************


*{ 
    margin: 0;
    box-sizing: border-box;
}

body{
    background: blue;
    
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1728px;
}
//**TODO ************* BODY *******************************************


header{
    // background: url('../Images/Sofa_Img.png')  0 0/cover no-repeat ;
    background: url('../Images/Sofa_Img.png')  0 0/100% 100% no-repeat;
    // width: 100%;
    max-width: 1728px;
    min-height: 30vh;

    .nav-center{
        width: 100%;
        padding-top: 1.5rem;
        display: flex;
        justify-content: center;
    }

    nav{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        .nav-menu__placeholder{
            display: none;
        }


        // gap для нав МЕНЮ!!!! 
        
        .menu__list{
            font-family: $font-name;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-mobile;
            line-height: 28px;
            color: $nav-font-color;
            row-gap: 10rem;
            text-decoration: none;

            .point{
                margin: 0 0.3rem; // CHANGE TO BURGER
                font-style: normal;
                font-weight: 400;
                font-size: $font-size-mobile;
                line-height: 28px;
                color: $nav-font-color;
                text-decoration: none;
                transition: 0.3s;

                &:hover{
                    text-decoration: underline;
                    transition: 0.3s;

                }
            }



            .nav-menu__point_active{
                font-style: normal;
                font-weight: 700;
                font-size: $font-size-mobile;
                line-height: 28px;
                color: $nav-font-color;
                text-decoration: none;

                background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;

                &:hover{
                    text-decoration: underline;
                    transition: 0.3s;
                }
            }
        }

        .icon{

            cursor: pointer;

            &:hover{
                cursor: pointer;
            }
        }

        svg{
            cursor: pointer;

            &:hover{
                cursor: pointer;
            }
        }

        .icon-bag{
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .company_slogan{
        font-family: $font-name;
        color: white;
        width: 80%;
        margin: 0.5rem auto 0;

        .big_slogan{
            font-weight: 700;
            font-size: 1rem;
            text-align: center;
            // line-height: 4rem;
        }

        .small_slogan{
            margin: 0.2rem auto 0;
            font-weight: 400;
            font-size: 0.6rem;
            width: 45%;
            text-align: center;
            // line-height: 2.5rem;
        }
    }

    .search_div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .search_for_after{
        width: 40%;
        position: relative;

        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 100px;
            background: url('../Icons/lupa_search.png') 55% 43%/60% 60% no-repeat, linear-gradient(90deg, #2AF598 0%, #009EFD 100%), ; ;
            right: 5px;
            top: calc(50% - 1.1rem/2);

            
        }
    }

    .search_input{
        font-family: $font-name;
        color: white;

        height: 1.5rem;
        width: 100%;
        border-radius: 50px;
        padding: 0.5rem;
        
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(10px);

        font-size: 1rem;
        line-height: 23px;
        font-weight: 400;
        color: white;

        // position: relative;




        &::placeholder{
            color: white; 
        }
    }

    .price_point{
        display: none;
    }

}
//????????????????????? HEADER ??????????????????????????????????????????//

div.transition_blocks{
    margin-top:-1.5rem;
    height: 1.7rem;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 80.65%);
}
    // ********************* DIV TRANSITION BLOCK ***************************************//

main{
    .info_blocks{
        margin-top: 4rem;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(4rem, auto));
        grid-auto-rows: 4rem;
    }
}
//!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


@media(min-width: 661px){

    header{
        background: url('../Images/Sofa_Img.png')  0 0/100% 100% no-repeat;
        // background: url('../Images/Sofa_Img.png')  0 0/100% auto no-repeat;
        // width: 100%;
        max-width: 1728px;
        height: 40vh;
    
        .nav-center{
            padding-top: 2.5rem;
        }

        nav{
            width: 80%;
            display: flex;
            justify-content: space-around;

            .nav-menu__placeholder{
                display: block;
            }




        

            .menu__list{
                font-family: $font-name;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;

                
                .point{
                    margin: 0 1.5rem;
                    line-height: 28px;
                    color: $nav-font-color;
                    text-decoration: none;
                }


                .nav-menu__point_active{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                    color: $nav-font-color;
                }
            }

            .icon-bag{
                width: 2rem;
                height: 2rem;
            }


        }

        .company_slogan{
            font-family: $font-name;
            color: white;
            width: 80%;
            margin: 1.3rem auto 0;

            .big_slogan{
                font-weight: 700;
                font-size: 2rem;
                text-align: center;
                // line-height: 4rem;
            }

            .small_slogan{
                margin: 0.5rem auto 0;
                font-weight: 400;
                font-size: 1rem;
                width: 45%;
                text-align: center;
                // line-height: 2.5rem;
            }
        }

        .search_div{
            margin-top: 1rem;
        }

        .search_for_after{
            width: 40%;

            position: relative;

            &::after{
                content: '';
                display: inline-block;
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 100px;
                background: url('../Icons/lupa_search.png') 53% 40%/65% 65% no-repeat, linear-gradient(90deg, #2AF598 0%, #009EFD 100%), ;
                right: 10px;
                top: calc(50% - 2rem/2);
                transition: 0.4s;
            }

            &:hover::after{
                scale: 1.2;
                transition: 0.4s;
                cursor: pointer;
            }
        }

        .search_input{
            font-family: $font-name;
            color: white;
    
            height: 3rem;
            width: 100%;
            border-radius: 50px;
            padding: 1rem;
            
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(10px);
    
            font-size: 1rem;
            line-height: 23px;
            font-weight: 400;
            color: white;
            &::placeholder{
                color: white; 
            }
        }

    }
    //????????????????????? HEADER ??????????????????????????????????????????//

    div.transition_blocks{
        margin-top:-4rem;
        height: 4rem;
    
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 75.65%);
    }
    // ********************* DIV TRANSITION BLOCK ***************************************//

    main{
    
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}


@media(min-width: 768px){

    header{


    .menu__list{
        font-family: $font-name;
        font-style: normal;
        font-weight: 400;
        font-size: $font-size-medium;
        line-height: 28px;

        
        .point{
            margin: 0 2.5rem;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-medium;
            line-height: 28px;
            color: $nav-font-color;
            text-decoration: none;
            transition: 0.5s;

            &:hover{
                text-decoration: underline;
                transition: 0.5s;
 
            }
        }


        .nav-menu__point_active{
            font-style: normal;
            font-weight: 700;
            font-size: $font-size-medium;
            line-height: 28px;
            color: $nav-font-color;
        }
    }

    .search_div{
        margin-top: 1.5rem;
    }

    .search_for_after{
        width: 30%;

        position: relative;

        &::after{
            content: '';
            display: inline-block;
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 100px;
            background: url('../Icons/lupa_search.png') 53% 40%/65% 65% no-repeat, linear-gradient(90deg, #2AF598 0%, #009EFD 100%), ;
            right: 10px;
            top: calc(50% - 2rem/2);
            transition: 0.4s;
        }

        &:hover::after{
            scale: 1.2;
            transition: 0.4s;
            cursor: pointer;
        }
    }

    .search_input{
        font-family: $font-name;
        color: white;

        height: 3rem;
        width: 100%;
        border-radius: 50px;
        padding: 1rem;
        
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(10px);

        font-size: 1rem;
        line-height: 23px;
        font-weight: 400;
        color: white;
        &::placeholder{
            color: white; 
        }
    }


    }

    // ????????????????????????? HEADER ??????????????????????????????????????

    main{
    
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}





@media(min-width: 931px){

    header{
        background: url('../Images/Sofa_Img.png')  0 0/100% 100% no-repeat ;
        // background: url('../Images/Sofa_Img.png')  0 0/100% auto no-repeat;
        // width: 100%;
        max-width: 1728px;
        min-height: 80vh;
    
        .nav-center{
            padding-top: 2.5rem;
        }

        nav{
            width: 80%;
            display: flex;
            justify-content: space-around;

            .nav-menu__placeholder{
                display: block;
            }




        

            .menu__list{
                font-family: $font-name;
                font-style: normal;
                font-weight: 400;
                font-size: $font-size-medium;
                line-height: 28px;

                
                .point{
                    margin: 0 2.5rem;
                    line-height: 28px;
                    color: $nav-font-color;
                    text-decoration: none;
                }


                .nav-menu__point_active{
                    font-style: normal;
                    font-weight: 700;
                    font-size: $font-size-medium;
                    line-height: 28px;
                    color: $nav-font-color;
                }
            }

            .icon-bag{
                width: 50px;
                height: 50px;
            }


        }

        .company_slogan{
            font-family: $font-name;
            color: white;
            width: 50%;
            margin: 3.4rem auto 0;

            .big_slogan{
                font-weight: 700;
                font-size: 3.4rem;
                text-align: center;
                line-height: 4rem;
            }

            .small_slogan{
                margin: 1rem auto 0;
                font-weight: 400;
                font-size: 1rem;
                width: 45%;
                text-align: center;
                line-height: 1.8rem;
            }
        }


    }
    //????????????????????? HEADER ??????????????????????????????????????????//

    div.transition_blocks{
        margin-top:-10rem;
        height: 10rem;
    
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 60.65%);
    }
    // ********************* DIV TRANSITION BLOCK ***************************************//

    main{
    
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}

@media(min-width: 1364px){
    header{
        background: url('../Images/Sofa_Img.png')  0 0/100% 100% no-repeat ;
        // background: url('../Images/Sofa_Img.png')  0 0/100% auto no-repeat;
        // width: 100%;
        max-width: 1800px;
        min-height: 100vh;

        nav{
            width: 80%;
            display: flex;
            justify-content: space-around;

            .nav-menu__placeholder{
                display: block;
            }


            .menu__list{
                font-family: $font-name;
                font-style: normal;
                font-weight: 400;
                font-size: $font-size-desktop;
                line-height: 28px;

                
                .point{
                    margin: 0 2.5rem;
                    line-height: 28px;
                    color: $nav-font-color;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: $font-size-desktop;
                }


                .nav-menu__point_active{
                    font-style: normal;
                    font-weight: 700;
                    font-size: $font-size-desktop;
                    line-height: 28px;
                    color: $nav-font-color;
                }
            }

            .icon-bag{
                width: 50px;
                height: 50px;
            }


        }
        
        .company_slogan{
            font-family: $font-name;
            color: white;
            width: 50%;
            margin: 3.4rem auto 0;

            .big_slogan{
                font-weight: 700;
                font-size: 3.4rem;
                text-align: center;
                line-height: 4rem;
            }

            .small_slogan{
                margin: 1rem auto 0;
                font-weight: 400;
                font-size: 1rem;
                width: 45%;
                text-align: center;
                line-height: 2.5rem;
            }
        }

        .search_div{
            margin-top: 2rem;
        }

        .search_for_after{
            width: 20%;

            position: relative;

            &::after{
                content: '';
                display: inline-block;
                position: absolute;
                width: 2rem;
                height: 2rem;
                border-radius: 100px;
                background: url('../Icons/lupa_search.png') 53% 40%/65% 65% no-repeat, linear-gradient(90deg, #2AF598 0%, #009EFD 100%), ;
                right: 10px;
                top: calc(50% - 2rem/2);
                transition: 0.4s;
            }

            &:hover::after{
                scale: 1.2;
                transition: 0.4s;
                cursor: pointer;
            }
        }

        .search_input{
            font-family: $font-name;
            color: white;
    
            height: 3rem;
            width: 100%;
            border-radius: 50px;
            padding: 1rem;
            
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(10px);
    
            font-size: 1rem;
            line-height: 23px;
            font-weight: 400;
            color: white;
            &::placeholder{
                color: white; 
            }
        }



    }
// ??????????????????????????????????? HEADER???????????????????????????????????????????????
    div.transition_blocks{
    margin-top:-10rem;
    height: 10rem;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 60.65%);
    }
// ********************* DIV TRANSITION BLOCK ***************************************//
    main{
        
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}


@media(min-width: 1450px){
    header{
        .price_point{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 2.4rem;
            height: 2.4rem;
            background: rgba(255, 255, 255, 0.2);;
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(10px);
            border-radius: 50px;

            .description{
                
                font-family: $font-name;
                color: white;


                height: 0;
                width: 0;
                background: rgba(56, 56, 56, 0.555);
                border: 1px solid #FFFFFF;
                backdrop-filter: blur(5px);
                position: absolute;
                bottom: 1rem;
                border-radius: 25px;
                opacity: 0;

                .flower_price{
                font-size: 1.3rem;
                font-weight: 700;
                line-height: 0.8rem;
                transition: 0.5s;
                    
                }

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 10;                

                div{
                    font-size: 0.8rem;
                    font-weight: 400;
                }
            }

            &:hover .description{
                opacity: 1;
                transition: 0.5s;
                padding: 1rem;
                height: 5rem;
                width: 10rem;
                bottom: 2.5rem;


            }
            
            .white_circle{
                width: 0.7rem;
                height: 0.7rem;
                background: white;
                border-radius: 50px;
            }
        }

        .point_first{
            position: relative;
            left: 4vw;
            top: -2vw;


        }

        .point_second{
            position: relative;
            left: 9.3vw;
            top: 3vw;
        }

        .point_third{
            position: relative;
            left: 90%;
            top: 1vw;
        }
    }
    // ??????????????????????????????????? HEADER???????????????????????????????????????????????

    main{
    
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}


@media(min-width: 2500px){
    header{
        background: url('../Images/Sofa_Img.png')  0 0/cover no-repeat;
        // background: url('../Images/Sofa_Img.png')  0 0/100% auto no-repeat;
        // width: 100%;
        max-width: 80vw;
        min-height: 0;
    }
    // ??????????????????????????????????? HEADER???????????????????????????????????????????????

    main{
    
    }
    //!!!!!!!!!!!!!!!!!!!!!!!!! MAIN !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
}